.calendar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  @media (max-width: 768px) {
    justify-content: space-between;
  }
  &__date {
    display: flex;
    flex-direction: column;
    @media (max-width: 400px) {
      min-width: 40px !important;
      max-width: 40px !important;
    }
  }
}
