.matches {
  &__tournaments {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  &__progress-spinner {
    display: block !important;
    margin: 50px auto;
  }
  &__item {
    margin-top: 16px;
    cursor: pointer;
    &--content {
      padding: 24px;
      display: flex;
      gap: 16px;
      max-width: 100%;
      margin: auto;
      @media (max-width: 400px) {
        padding: 16px;
      }
      @media (min-width: 767px) {
        max-width: 500px;
      }
    }
    &--team {
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      img {
        display: inline-block;
        height: 50px;
        @media (max-width: 400px) {
          height: 32px;
        }
      }
      p {
        display: inline-block;
        margin: 0;
        @media (max-width: 400px) {
          font-size: 14px;
        }
      }
    }
    &--score {
      width: 20%;
      text-align: center;
    }
  }
}

.stats {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  padding: 24px;
  border: none;
  outline: none;
  display: flex;
  &__home {
    width: 30%;
    text-align: left;
  }
  &__type {
    width: 40%;
    text-align: center;
  }
  &__away {
    width: 30%;
    text-align: right;
  }
}
