.matches {
  &__tournaments {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
  &__item {
    margin-top: 16px;
    cursor: pointer;
    &--content {
      padding: 24px;
      display: flex;
      gap: 16px;
      max-width: 100%;
      margin: auto;
      @media (max-width: 400px) {
        padding: 10px;
        gap: 8px;
      }
      @media (min-width: 767px) {
        max-width: 500px;
      }
    }
    &--team {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
      img {
        display: inline-block;
        height: 50px;
        @media (max-width: 400px) {
          height: 32px;
        }
      }
      p {
        display: inline-block;
        margin: 0;
        @media (max-width: 400px) {
          font-size: 14px;
        }
      }
    }
    &--score {
      width: 30%;
      text-align: center;
    }
  }
}

.progress-spinner {
  display: block !important;
  margin: 50px auto;
}

.stats {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  padding: 32px;
  border: none;
  outline: none;
  display: flex;
  max-height: 80%;
  overflow: scroll !important;
  @media (max-width: 576px) {
    padding: 24px;
    width: 80%;
    font-size: 14px;
  }
  &__home {
    width: 30%;
    text-align: left;
    &--name {
      font-weight: 600;
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
  }
  &__type {
    width: 40%;
    text-align: center;
    &--scores {
      font-weight: 600;
      font-size: 18px;
      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
  }
  &__away {
    width: 30%;
    text-align: right;
    &--name {
      font-weight: 600;
      font-size: 18px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @media (max-width: 576px) {
        font-size: 16px;
      }
    }
  }
  p {
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
  }
}
